/.vscode
/alunos.csv.xlsx
/alunos_aprovados.csv
/aprovados_finais.csv
/archive
/archive.zip
/aula-7-completa
/aula-7-inicio
/Curso_de_Estatistica
/Curso_de_Estatistica_Parte_2
/dados_apartamentos.csv
/dados_completos_dev.csv
/Data science - Analise e visualizacao de dados.ipynb
/Data Visualization
/Data Visualization - Criação de Gráficos com matplotlib
/df_1.csv
/df_2.csv
/estatistica-r-parte-1-arquivos-projeto-inicial
/estatistica-r-parte-1-projeto-aula-5-completo
/Estatisticas com python - frequencias e medidas.ipynb
/Integrais
/ml-latest-small.zip
/movies.csv
/Pandas - Conhecendo a biblioteca.ipynb
/ratings.csv
/Regressão Linear I
/Regressão Linear II - Técnicas Avançadas
/Testes estatisticos com python.ipynb
/tmdb_5000_credits.csv
/tmdb_5000_movies.csv